{% extends "layout.html" %}

{% block body %}
<h3>Users Portfolios</h3>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Owner</th>
      <th>Portfolio name</th>
      <th>Delete</th>
    </tr>
    {% for portfolio in portfolios %}
    <tr>
      <td><a href="{{ url_for('user_view', user_id=portfolio.account_id) }}">{{ portfolio.account_name() }}</a></td>
      <td><a href="{{ url_for('portfolios_view', portfolio_id=portfolio.id) }}">{{ portfolio.name }}</a></td>
      <td><button class="btn btn-danger" onclick="sendDeleteRequest('{{ url_for('portfolios_delete', portfolio_id=portfolio.id) }}')">Delete</button></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">No portfolios</td>
    </tr>
    {% endfor %}
  </table>
  
  <script>
    function sendDeleteRequest(deleteUrl) {
      const xhttp = new XMLHttpRequest()
      xhttp.onload = function() {
        window.location.href = xhttp.responseURL
      }
      xhttp.open("DELETE", deleteUrl, true)
      xhttp.send();
    }
  </script>
{% endblock %}