{% extends "layout.html" %}

  {% block body %}
    <div>
      <h2>{{ portfolio.name }}</h2>
      <ul>
        <li>Portfolio owner: {{ portfolio.account_name() }}</li>
        <li><a href="{{ url_for('user_view', user_id=portfolio.account_id) }}">Back to profile</a></li>
      </ul>
    </div>
    <!-- malli
    <table border="1">
        <form>
          <tr><th>MALLI</th></tr>
            <tr>
              <td><input type="text" size="4" name="ticker" placeholder="TICKER" /></td>
              <td><input type="text" size="10" name="name" placeholder="Enter name" /></td>
              <td><input type="number" name="amount" min="0" placeholder="0" /></td>
              <td colspan="2"><input type="date" name="date" placeholder="dd.mm.yyyy" /></td>
              <td colspan="2"><select name="buyOrSell">
                <option value="buy" selected>Buy</option>
                <option value="sell">Sell</option>
              </select></td>
              <td><input type="text" name="price" placeholder="Enter price" /></td>
              <td><input type="submit" value="Save" /></td>
            </tr>
          </form>
    </table> -->
    <div>
      <h4>Open positions</h4>
      
      <table border="1">
        {% if current_user.is_authenticated %}
          <form method="POST" action="{{ url_for('trade_create', portfolio_id=portfolio.id) }}">
            <tr>    
              <td>{{ form.ticker }}</td>
              <td>{{ form.name }}</td>
              <td>{{ form.amount }}</td>
              <td>{{ form.date }}</td>
              <td>{{ form.price }}</td>
              <td colspan="2"><input type="submit" value="Add position" /></td>
            </tr>
          </form>
          <tr>
            <td>
              <ul>
                {% for error in form.ticker.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for error in form.amount.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for error in form.date.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for error in form.price.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}

        <tr>
          <th>Ticker</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Buy date</th>
          <th>Price bought</th>
          <th>Current price</th>
          <th>Return (if sold now)</th>
        </tr>
        {% for trade in portfolio.open_trades() %}
        <tr>
          <td>{{ trade.ticker }}</td>
          <td>{{ trade.name }}</td>
          <td>{{ trade.amount }}</td>
          <td>{{ trade.buydate }}</td>
          <td>{{ trade.buyprice }}</td>
          <td>NOT IMPLEMENTED</td>
          <td>NOT IMPLEMENTED</td>
          {% if current_user.is_authenticated %}
          <td>
            <form action="{{ url_for('trade_finish') }}" method="GET">
              <input type="hidden" id="portfolio_id" name="portfolio_id" value="{{ portfolio.id }}">
              <input type="hidden" id="trade_id" name="trade_id" value="{{ trade.id }}">
              <input type="submit" value="Close position">
            </form>
          </td>
          {% endif %}
        </tr>
        {% else %}
        <tr>
          <td colspan="7">No open positions</td>
        </tr>
        {% endfor %}
      </table>
  </div>

  <div>
    <h4>Closed positions</h4>
    <table border="1">
      <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Buy date</th>
        <th>Price bought</th>
        <th>Sell date</th>
        <th>Price sold</th>
        <th>Current price</th>
        <th>Return</th>
      </tr>
      {% for trade in portfolio.closed_trades() %}
      <tr>
        <td>{{ trade.ticker }}</td>
        <td>{{ trade.name }}</td>
        <td>{{ trade.amount }}</td>
        <td>{{ trade.buydate }}</td>
        <td>{{ trade.buyprice }}</td>
        <td>{{ trade.selldate }}</td>
        <td>{{ trade.sellprice }}</td>
        <td>NOT IMPLEMENTED</td>
        <td>{{ trade.total_return }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9">No closed trades</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}