{% extends "layout.html" %}

{% block body %}
  <h1>Oskari!</h1>
  <p>
    You are free to use this application, without any charges. But beware, <strong>PASSWORDS ARE STORED IN <em>PLAINTEXT</em>, SO DO <em>NOT</em> USE ANY PASSWORDS THAT ARE USED ANYWHERE ELSE!!!111</strong>
  </p>
  <h5>App status</h5>
  <p>
    All(?) delete operations implemented in this software works currently only if there is no active dependencies between models. for example trying to delete an user with no portfolios work, but if the user has created an portfolio, then deleting the user won't work..
  </p>
{% endblock %}