<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oskari</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      {{ current_user.name }} logged in with username {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>
    <a href="{{ url_for('auth_register') }}">Register</a>
    {% endif %}

    <ul>
      <li><a href="{{ url_for('stocks_index') }}">List stocks</a></li>
      <li><a href="{{ url_for('stocks_form') }}">Add a stock</a></li>
      <li><a href="{{ url_for('portfolios_index') }}">List Portfolios</a></li>
      <li><a href="{{ url_for('portfolios_form') }}">Create new portfolio</a></li>
    </ul>

    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
  </body>
</html>