{% extends "layout.html" %}
  {% block body %}
  <h3>All users</h3>

  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Name</th>
      <th>Username</th>
      <th>E-mail</th>
      {% if current_user.is_authenticated and current_user.is_superuser() %}
        <th colspan="2">Superuser</th>
        <th>Delete user</th>
      {% else %}
        <th>Superuser</th>
      {% endif %}
      
    </tr>
    {% for user in users.items %}
      <tr>
        <td>{{ user.name }}</td>
        <td><a href="{{ url_for('user_view', user_id=user.id) }}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_superuser() }}</td>
        {% if user.get_id() != 1 and current_user.is_authenticated and current_user.is_superuser() %}
        <td>
          <form method="POST" action="{{ url_for('user_switch_superuser_status', user_id=user.get_id()) }}">
            {% if user.is_superuser() %}
              <input class="btn btn-dark" type="submit" value="Disable superuser role" />
            {% else %}
              <input class="btn btn-dark" type="submit" value="Enable superuser role" />
            {% endif %}
          </form>
        </td>
        <td>
          <button class="btn btn-danger" onclick="sendDeleteRequest('{{ url_for('auth_delete_profile', user_id=user.id) }}')">Delete</button>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  
  {% if users.has_prev %}<a href="{{ url_for('users_index', page=users.prev_num) }}">&lt;&lt; Previous page</a>{% else %}&lt;&lt; Previous page{% endif %} |
  {% if users.has_next %}<a href="{{ url_for('users_index', page=users.next_num) }}">Next page &gt;&gt;</a>{% else %}Next page &gt;&gt;{% endif %}

  <script>
    function sendDeleteRequest(deleteUrl) {
      const xhttp = new XMLHttpRequest()
      xhttp.onload = function() {
        window.location.href = xhttp.responseURL
      }
      xhttp.open("DELETE", deleteUrl, true)
      xhttp.send();
    }
  </script>
  {% endblock %}