{% extends "layout.html" %}

{% block body %}
  <h3>All stocks</h3>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Ticker</th>
      <th>Full name</th>
      <th>In number of portfolios</th>
      {% if current_user.is_authenticated and current_user.is_superuser() is sameas true %}
      <th>Delete</th>
      {% endif %}
    </tr>
    {% for stock in stocks %}
    <tr id="{{ stock.id }}">
      <td>{{ stock.ticker }}</td>
      <td>
        <a href="{{ url_for('stocks_view', stock_id=stock.id) }}">{{ stock.name }}</a>
      </td>
      <td>23(not implemented)</td>
      {% if current_user.is_authenticated and current_user.is_superuser() is sameas true %}
      <td>
        <button class="btn btn-dark" onclick="sendDeleteRequest('{{ url_for('stocks_view', stock_id=stock.id) }}')">Delete</button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  <script>
    function sendDeleteRequest(deleteUrl) {
      const xhttp = new XMLHttpRequest()
      xhttp.onload = function() {
        window.location.href = xhttp.responseURL
      }
      xhttp.open("DELETE", deleteUrl, true)
      xhttp.send();
    }
  </script>
{% endblock %}