{% extends "layout.html" %}

{% block body %}
  <h3>All stocks</h3>
  <table class="table table-sm table-hover table-bordered table-striped">
    <tr class="thead-dark">
      <th>Ticker</th>
      <th>Full name</th>
      <th>In number of trades</th>
      <th>In number of portfolios</th>
      {% if current_user.is_authenticated and current_user.is_superuser() is sameas true %}
      <th>Delete</th>
      {% endif %}
    </tr>
    {% for stock in stocks.items %}
    <tr id="{{ stock.id }}">
      <td>{{ stock.ticker }}</td>
      <td>
        <a href="{{ url_for('stocks_view', stock_id=stock.id) }}">{{ stock.name }}</a>
      </td>
      <td>{{ stock.is_in_number_of_trades() }}</td>
      <td>{{ stock.is_in_number_of_portfolios() }}</td>
      {% if current_user.is_authenticated and current_user.is_superuser() is sameas true %}
      <td>
        {% if stock.can_be_deleted() %}
          <button class="btn btn-danger" onclick="sendDeleteRequest('{{ url_for('stocks_delete', stock_id=stock.id) }}')">Delete</button>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if stocks.has_prev %}<a href="{{ url_for('stocks_index', page=stocks.prev_num) }}">&lt;&lt; Previous page</a>{% else %}&lt;&lt; Previous page{% endif %} |
  {% if stocks.has_next %}<a href="{{ url_for('stocks_index', page=stocks.next_num) }}">Next page &gt;&gt;</a>{% else %}Next page &gt;&gt;{% endif %}
  <script>
    function sendDeleteRequest(deleteUrl) {
      const xhttp = new XMLHttpRequest()
      xhttp.onload = function() {
        window.location.href = xhttp.responseURL
      }
      xhttp.open("DELETE", deleteUrl, true)
      xhttp.send();
    }
  </script>
{% endblock %}